
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Charts
    </a>
  </div>
</nav>
<br><br><br>
  <div class="container">
      <div class="row">
          <div class="col-sm-12 col-md-6 col-xl-4">
              <app-bar></app-bar>
          </div>
      
          <div class="col-sm-12 col-md-6 col-xl-4">
            <app-pie></app-pie>
           
          </div>
          <div class="col-sm-12 col-md-6 col-xl-4">
           <!-- <app-stacked></app-stacked> -->
           <app-donut></app-donut>
          </div>
      </div>
      <br><br><br>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-xl-4">
          <app-scatter></app-scatter>
        </div>
        <div class="col-sm-12 col-md-6 col-xl-4">
          <app-line></app-line>
        </div>
        <div class="col-sm-12 col-md-6 col-xl-4">
          <!-- <app-scatter></app-scatter> -->
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-xl-4">

        </div>
